@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet nisi non libero dignissim consectetur. Sed iaculis nulla gravida ipsum convallis, quis tempus lectus sollicitudin. Suspendisse volutpat sem eget tellus porttitor scelerisque. Sed non elit euismod, maximus felis in, imperdiet eros. Aliquam a elit enim. Etiam gravida sem quis augue venenatis, sit amet euismod arcu eleifend. Donec quis tempus ipsum. Sed ullamcorper ipsum et mattis bibendum. Suspendisse quis tellus commodo, fermentum lorem ac, pellentesque libero.

        Phasellus commodo nisl mauris. Pellentesque porta enim nisi, in porttitor nisl hendrerit non. Etiam odio est, lobortis id dui sed, luctus dignissim felis. Sed at odio congue, efficitur metus et, cursus elit. Etiam ac eros est. Duis vel augue massa. Aliquam convallis vitae libero vitae vulputate.
    </p>
</div>
